In [ ]:
# section 1: environment setup

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 100)

In [ ]:
# section 2: data loading

data_path = "../data/raw/telecom_churn_dataset.csv"
df = pd.read_csv(data_path)

df.head()

,PID,CRM_PID_Value_Segment,EffectiveSegment,Billing_ZIP,KA_name,Active_subscribers,Not_Active_subscribers,Suspended_subscribers,Total_SUBs,AvgMobileRevenue,AvgFIXRevenue,TotalRevenue,ARPU,CHURN
0,123759242,Bronze,SOHO,6000.0,VM,2,NaN,NaN,2,40.17,0.0,40.17,NaN,No
1,126145737,Bronze,SOHO,6400.0,VM,3,NaN,NaN,3,40.17,0.0,40.17,13.39,No
2,123506355,Bronze,SOHO,6000.0,DI,2,3.0,NaN,5,40.17,0.0,40.17,20.09,No
3,112595585,Bronze,SOHO,4400.0,MT,1,2.0,NaN,3,40.17,0.0,40.17,40.17,No
4,115097935,Iron,SOHO,4000.0,AD,2,1.0,NaN,3,40.17,0.0,40.17,20.09,No

In [7]:
df.dtypes

PID                        object
CRM_PID_Value_Segment      object
EffectiveSegment           object
Billing_ZIP               float64
KA_name                    object
Active_subscribers          int64
Not_Active_subscribers    float64
Suspended_subscribers     float64
Total_SUBs                  int64
AvgMobileRevenue          float64
AvgFIXRevenue             float64
TotalRevenue              float64
ARPU                      float64
CHURN                      object
dtype: object

In [9]:
df.isna().mean().sort_values(ascending=False).head(10)

Suspended_subscribers     0.958358
Not_Active_subscribers    0.490832
CRM_PID_Value_Segment     0.000592
Billing_ZIP               0.000237
ARPU                      0.000118
PID                       0.000000
EffectiveSegment          0.000000
KA_name                   0.000000
Active_subscribers        0.000000
Total_SUBs                0.000000
dtype: float64

In [ ]:
# features to remove 'Suspended_subscribers', 'Not_Active_subscribers' and 'PID'
# remove rows where any of its features is missing

In [14]:
df["CHURN"].value_counts(dropna=False)

CHURN
No     7904
Yes     549
Name: count, dtype: int64

In [15]:
df["CHURN"].value_counts(normalize=True) * 100

CHURN
No     93.505264
Yes     6.494736
Name: proportion, dtype: float64

In [16]:
num_cols = df.select_dtypes(include=np.number).columns.tolist()
cat_cols = df.select_dtypes(exclude=np.number).columns.tolist()

In [18]:
num_cols, cat_cols

(['Billing_ZIP',
  'Active_subscribers',
  'Not_Active_subscribers',
  'Suspended_subscribers',
  'Total_SUBs',
  'AvgMobileRevenue ',
  'AvgFIXRevenue',
  'TotalRevenue',
  'ARPU'],
 ['PID', 'CRM_PID_Value_Segment', 'EffectiveSegment', 'KA_name', 'CHURN'])